/*
Columns styles

If we want to add additional classes to our columns, like the listed class under .columns3
we just nest it as we would normally do with SASS
*/

.columns2 {
  width: 100%;
	@include column-attribs (2, 20px);
}

.columns3 {
  width: 100%;
  @include column-attribs (3, 10px);

  .listed {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}