/*
 * Cover Page Styles
 *
 * Styles that are specific to the cover page
*/

div.cover h1,
div.cover h2,
div.cover p {
  text-align:center;
}

div.cover h1 {
  font-size: 3em;
}

div.cover h2 {
  font-size: 1.5em;
}


