/*
	Superscript and footnotes
*/
sup {
  vertical-align: top;
  height: 0;
  line-height: 1;
  bottom: 1em;
  font-size: .7em;
  color: $red;

	a {
	  padding: 2px;
	  vertical-align: top;
        text-decoration: none;        /* No text decoration for footnote links*/
	}
}

ol.footnotes {
	@include column-attribs (2, 20px);
	font-size: 0.8em;
	line-height: 2.0em;

	li{
		list-style-type: decimal;
 		list-style-position:inside;
//		margin-left: 10px;
	}
}
