/*
 * Generic styles
 *
 * Styles using our fonts and other elements. We don't want faux italic and bold
 * so we go through the xtra pain to add additional fonts.
 */

em {
  font-family: 'SourceSans LightIt';
}

strong {
  font-family: 'SourceSans SemiBold';
}

em strong,
strong em { /* order of em and strong doesn't matter*/
  font-family: 'SourceSans SemiBoldIt';
}

pre {
  font-family: 'SourceSans Light'
}