// Link Formatting

// All links are the same color (defined in _variables.scss)
a { 
  color: $red;
}

// Internal links have no underline and a hover value
a { 
  text-decoration: none;

  [href]:hover {
    background: #ffa;
  }
}

// if the link's href attribute starts with http 
// (which means both http AND https) underline the links
a[href^="http"] { 
  text-decoration: underline;
}