
@mixin solid-thin() {
  border-width: thin;
  border-style: solid;
}


// The following mixins are from http://web-design-weekly.com/2013/05/12/handy-sass-mixins/

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

