/*
 * eBook sample stylesheet
 *
 * */

// ebook variables
// Is this an epub book?
$epub: true;
//Is this a kindle book?
$kindle: false;

@import "_variables";
@import "_mixins";

@import "_normalize";

@import "_modular-scale.scss";

@import "_fonts";

@font-face { /* Default font... SourceSans Pro in this case*/
  @include declare-font('SourceSans Light',  'type/SourceSansPro-Light', 'normal', 'normal')
}

@font-face { /* Italic font */
  @include declare-font('SourceSans LightIt',  'type/SourceSansPro-LightIt', 'italic', 'normal')
}

@font-face { /* bold/semibold font*/
  @include declare-font('SourceSans SemiBold',  'type/SourceSansPro-Semibold', 'normal', 'bold')
}

@font-face { /* bold/semibold  italic font*/
  @include declare-font('SourceSans SemiBoldIt',  'type/SourceSansPro-SemiboldIt', 'italic', 'bold')
}

/*
 * Global style definitions
 *
 * Styles applied to the HTML element are used throughout the document unless
 * a more specific style overrides it later
 */

html {
  font-family: 'SourceSans Light';
  font-size: 16px; /* we set up default font size in pixels so we can apply sizing scales */
  line-height: 1.5;
}

/*
 * Generic styles
 *
 * Styles using our fonts and other elements. We don't want faux italic and bold
 * so we go through the xtra pain to add additional fonts.
 *
 * Had originally moved to its own partial but since they depend on the fonts we've selected
 * I decided to leave it here
 */

em {
  font-family: 'SourceSans LightIt';
}

strong {
  font-family: 'SourceSans SemiBold';
}

em strong,
strong em { /* order of em and strong doesn't matter*/
  font-family: 'SourceSans SemiBoldIt';
}

pre {
  font-family: 'SourceSans Light'
}

/*
 * These are the basic elements of a page. I recomend keeping these
 *
*/
@import "_links";
@import "_headings";
@import "_paragraphs";
@import "_lists";
@import "_position";

/*
 * All the imports below are optional. You may choose to implement them or not
 * */
@import "_multimedia";
@import "_columns";
@import "_marginalia";
@import "_toc";
@import "_images";
@import "_footnotes";
@import "_asides";


/*
 * We place media queries last as they may change the page display
 * They are optional
*/
@import "_media-queries";
